<template name="hourly">

  {{#if Template.subscriptionsReady}}
    {{#if haveCurrentDepth}}
      <div class="flow-text current">
        Current reading is {{currentDepth}} inches in tank {{age}}, 
        <br/>
        Sonic: {{currentDepthSonic}} inches down {{currentHeight}} inches of water in tank 
        {{#if overCapacity}}
          {{#if overFlow}}
            &nbsp; <a class="btn-small pulse red"><i class="material-icons">water</i></a>
          {{else}}
            &nbsp; <a class="btn-small pulse yellow"><i class="material-icons">water</i></a>
          {{/if}}
          &nbsp; <i class="smaller">Sonic Sensor reading is {{currentReadingSonic}} inches</i>
          &nbsp; <i class="smaller">Pressure Sensor reading is {{currentReadingPressure}} inches</i>
        {{/if}}
      </div>
      <div class="flow-text current">
        {{#if haveRange}}
          <span class="range"> &nbsp; Range {{minHeight}} -> {{maxHeight}}</span>
        {{/if}}
        <br/>
        {{gallons}} out of {{capacity}} gallons{{#if isDown}}, down {{down}} gallons{{/if}}     
      </div>
    {{/if}}
    
    <div id="gaugeChart"></div>

    
    <h4>
      Hourly
      <span class="flow-text trend right">{{change1}}<br/>{{change2}}</span>
    </h4>

    <div id="hourlySonicChart"></div>

    <div id="hourlyChart"></div>
   
  {{else}}
    ...
  {{/if}}


</template>
