<template name="hourly">

  {{#if Template.subscriptionsReady}}
    {{#if haveCurrentDepth}}
      <div class="flow-text current">
        {{age}}, Tank1 down {{currentDown}} inches. 
      </div>
       <div class="flow-text current">
        Tank1 has {{currentDepth}} inches, down {{currentDown}} inches out of {{tankDepth}} inches.
        {{#if overCapacity}}
          {{#if overFlow}}
            &nbsp; <a class="btn-small pulse red"><i class="material-icons">water</i></a>
          {{else}}
            &nbsp; <a class="btn-small pulse yellow"><i class="material-icons">water</i></a>
          {{/if}}
          &nbsp; <i class="smaller">Pressure Sensor reading is {{currentReadingPressure}} inches</i>
        {{/if}}
      </div>
      <div class="flow-text current">
        Tank2 has {{currentDepth2}} inches, down {{currentDown2}} inches. Tank (2->1) offset {{tank2Offset}} inches
      </div>
      <div class="flow-text current">
        Tank3 has {{currentDepth3}} inches, down {{currentDown3}} inches.  Tank (3->1) offset {{tank3Offset}} inches
      </div>
      <div class="flow-text current">
        <!--{{#if haveRange}}
          <span class="range"> &nbsp; Range {{minHeight}} -> {{maxHeight}}</span>
        {{/if}}
        <br/>
        -->
        {{gallons}} out of {{capacity}} gallons{{#if isDown}}, down {{down}} gallons{{/if}} 
        <br/>
        <small><i>Note: Cannot access {{noAccess}} gallons</i></small>  
      </div>
    {{/if}}
    
    <div id="gaugeChart"></div>

    
    <h4>
      Hourly
      <span class="flow-text trend right">{{change1}}<br/>{{change2}}</span>
    </h4>

    <div id="hourlyPressureChart"></div>

    <div id="hourlyTank1Chart"></div>

    <div id="hourlyTank2Chart"></div>

    <div id="hourlyTank3Chart"></div>
    <!-- <div id="hourlySonicChart"></div> -->
    
  {{else}}
    ...
  {{/if}}


</template>
